.filterDiv{
    width: 85%;
    height: 88px;
    margin: auto;
    margin-top: 72px;
    margin-left: 96px;
    border: 1px solid rgba(229, 229, 229, 1);
    position: relative;
}

.showFilterDiv{
    display: none
}

.hideFilterDiv{
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 170px;
    border-bottom: 1px solid rgba(136, 135, 146, 1);
    color:rgba(136, 135, 146, 1);
    font-size: 16px;
}

.items{
    width: 90px;
    height: 40px;
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 18px;
}

.recommended{
    width: 148px;
    height: 40px;
    position: absolute;
    left: 75%;
    top: 24px;

}

