.filterDiv{
    width: 90%;
    height: 88px;
    margin-top: 72px;
    margin-left: 5%;
    border-top: 1px solid rgba(229, 229, 229, 1);
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    position: relative;
}

.showFilterDiv{
    display: none
}

.hideFilterDiv{
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 170px;
    border-bottom: 1px solid rgba(136, 135, 146, 1);
    color:rgba(136, 135, 146, 1);
    font-size: 16px;
}

.items{
    width: 90px;
    height: 40px;
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 18px;
}

.recommended{
    width: 148px;
    height: 40px;
    position: absolute;
    left: 80%;
    top: 24px;

}

@media screen and (max-width: 500px) {

    .filterDiv{
        width: 90%;
        height: 40px;
        margin-left: 5%;
        border: 1px solid rgba(229, 229, 229, 1);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
    }

    .items{
        display: none;
    }
    
    .hideFilterDiv{
        cursor: pointer;
        position: static;
        color:rgba(136, 135, 146, 1);
        border-bottom: none;
        font-size: 16px;
    }
    .recommended{
        width: 140px;
        height: 17px;
        position: static;
    
    }
}