.headingDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    width: fit-content;
    height: 72px;
    margin-top: 72px;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
}

.desc{
width: 721px;
text-align: center;
font-weight: 400;
font-size: 22px;
line-height: 40px;

}

@media screen and (max-width: 600px) {

    .headingDiv{
        width: 100%;
        height: 127px;
        margin-top: 20px;
    }
    .heading{
        margin-top: 10px;
        width: fit-content;
        height: 29px;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center
    }
    
    .desc{
        width: 343px;
        height: 66px;
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
    }
}