.footer{
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 1);

}

.contactDiv{
    width: 80%;
    margin-left: 10%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
    border-bottom: 1px solid white;
}

.contact1, .contact2{
    width: 48%;
}

.text1, .text4{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.text2, .text3, .text5{
    margin-top: 24px;
}

.input{
    width: 60%;
    height: 40px;
}
.btn{
    width: 20%;
    height: 40px;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.quickLinksDiv{
    color: white;
    width: 80%;
    padding: 56px 0;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.footerList{
    list-style-type: none;
}

.footerList li{
    padding-bottom:10px ;
}


@media screen and (max-width: 600px) {
    .contactDiv{
        width: 90%;
        margin-left: 5%;
        color: white;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid white;
    }

    .contact1, .contactText2{
        width: 100%;
        border-bottom: 1px solid white;
    }

    .contact1, .contactText2, .text3{
        padding-bottom: 24px;
    }

    .contactText1{
        padding-top: 24px;
        padding-bottom: 16px;
    }
    

    .btn{
        width: 30%;
        height: 40px;
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .quickLinksDiv{
        color: white;
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
    }
}